In [3]:
import numpy as np
import pandas as pd

C:\Users\Daniella\AppData\Local\Temp\ipykernel_7832\1662815981.py:2: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [5]:
print(pd.__doc__)

pandas - a powerful data analysis and manipulation library for Python
=====================================================================

**pandas** is a Python package providing fast, flexible, and expressive data
structures designed to make working with "relational" or "labeled" data both
easy and intuitive. It aims to be the fundamental high-level building block for
doing practical, **real world** data analysis in Python. Additionally, it has
the broader goal of becoming **the most powerful and flexible open source data
analysis / manipulation tool available in any language**. It is already well on
its way toward this goal.

Main Features
-------------
Here are just a few of the things that pandas does well:

  - Easy handling of missing data in floating point as well as non-floating
    point data.
  - Size mutability: columns can be inserted and deleted from DataFrame and
    higher dimensional objects
  - Automatic and explicit data alignment: objects can be explicitly aligned
    to a set of labels, or the user can simply ignore the labels and let
    `Series`, `DataFrame`, etc. automatically align the data for you in
    computations.
  - Powerful, flexible group by functionality to perform split-apply-combine
    operations on data sets, for both aggregating and transforming data.
  - Make it easy to convert ragged, differently-indexed data in other Python
    and NumPy data structures into DataFrame objects.
  - Intelligent label-based slicing, fancy indexing, and subsetting of large
    data sets.
  - Intuitive merging and joining data sets.
  - Flexible reshaping and pivoting of data sets.
  - Hierarchical labeling of axes (possible to have multiple labels per tick).
  - Robust IO tools for loading data from flat files (CSV and delimited),
    Excel files, databases, and saving/loading data from the ultrafast HDF5
    format.
  - Time series-specific functionality: date range generation and frequency
    conversion, moving window statistics, date shifting and lagging.

In [7]:
column_name = ['CA1','CA2','CA3']
sit_no = np.arange(1,51)
np.random.seed(12)
cascore = np.random.randint(1,10,150)
cascore = cascore.reshape(50,3)

df=pd.DataFrame(data = cascore,index=sit_no, columns=column_name)
df

    CA1  CA2  CA3
1     7    2    3
2     4    4    1
3     7    2    5
4     6    3    7
5     1    6    9
6     3    4    5
7     4    2    8
8     1    3    7
9     3    1    5
10    7    1    1
11    9    7    2
12    9    5    1
13    5    2    6
14    6    4    5
15    6    6    1
16    7    7    4
17    3    5    4
18    7    8    5
19    2    5    6
20    4    6    1
21    3    7    5
22    8    7    3
23    4    3    7
24    5    6    1
25    1    6    5
26    1    4    8
27    7    9    7
28    2    5    7
29    6    3    5
30    1    9    5
31    5    4    8
32    4    7    2
33    5    4    9
34    9    7    9
35    5    5    2
36    5    2    5
37    4    3    9
38    1    2    5
39    7    6    5
40    3    1    2
41    3    6    3
42    1    2    5
43    8    8    2
44    7    2    4
45    1    2    9
46    5    9    9
47    9    9    4
48    6    2    7
49    4    3    4
50    2    4    3

In [8]:
#retrieving a single column
df['CA2']

1     2
2     4
3     2
4     3
5     6
6     4
7     2
8     3
9     1
10    1
11    7
12    5
13    2
14    4
15    6
16    7
17    5
18    8
19    5
20    6
21    7
22    7
23    3
24    6
25    6
26    4
27    9
28    5
29    3
30    9
31    4
32    7
33    4
34    7
35    5
36    2
37    3
38    2
39    6
40    1
41    6
42    2
43    8
44    2
45    2
46    9
47    9
48    2
49    3
50    4
Name: CA2, dtype: int32

In [9]:
#retrieving multiple columns
df[['CA1','CA3']]

    CA1  CA3
1     7    3
2     4    1
3     7    5
4     6    7
5     1    9
6     3    5
7     4    8
8     1    7
9     3    5
10    7    1
11    9    2
12    9    1
13    5    6
14    6    5
15    6    1
16    7    4
17    3    4
18    7    5
19    2    6
20    4    1
21    3    5
22    8    3
23    4    7
24    5    1
25    1    5
26    1    8
27    7    7
28    2    7
29    6    5
30    1    5
31    5    8
32    4    2
33    5    9
34    9    9
35    5    2
36    5    5
37    4    9
38    1    5
39    7    5
40    3    2
41    3    3
42    1    5
43    8    2
44    7    4
45    1    9
46    5    9
47    9    4
48    6    7
49    4    4
50    2    3

In [10]:
#retrieving a single row based on set index
#loc - location
df.loc[15]

CA1    6
CA2    6
CA3    1
Name: 15, dtype: int32

In [11]:
#retrieving multiple rows based on set index
df.loc[[14,18,25,26]]

    CA1  CA2  CA3
14    6    4    5
18    7    8    5
25    1    6    5
26    1    4    8

In [12]:
# retrieving a single row based on default index
#iloc - for default index
df.iloc[14]

CA1    6
CA2    6
CA3    1
Name: 15, dtype: int32

In [13]:
#retrieving multiple rows based on default index
df.iloc[[13,17,24,25]]

    CA1  CA2  CA3
14    6    4    5
18    7    8    5
25    1    6    5
26    1    4    8

In [14]:
#creating a new column using the insert method
age_value = np.random.randint(13,16, 50).reshape(50,1)
df.insert(loc =0, value= age_value, column= 'AGE')
df

    AGE  CA1  CA2  CA3
1    15    7    2    3
2    15    4    4    1
3    13    7    2    5
4    14    6    3    7
5    14    1    6    9
6    14    3    4    5
7    14    4    2    8
8    13    1    3    7
9    14    3    1    5
10   14    7    1    1
11   13    9    7    2
12   15    9    5    1
13   14    5    2    6
14   13    6    4    5
15   14    6    6    1
16   13    7    7    4
17   15    3    5    4
18   15    7    8    5
19   15    2    5    6
20   15    4    6    1
21   15    3    7    5
22   13    8    7    3
23   13    4    3    7
24   13    5    6    1
25   14    1    6    5
26   15    1    4    8
27   15    7    9    7
28   13    2    5    7
29   15    6    3    5
30   14    1    9    5
31   14    5    4    8
32   13    4    7    2
33   15    5    4    9
34   13    9    7    9
35   13    5    5    2
36   15    5    2    5
37   15    4    3    9
38   14    1    2    5
39   15    7    6    5
40   15    3    1    2
41   14    3    6    3
42   14    1    2    5
43   14    8    8    2
44   15    7    2    4
45   14    1    2    9
46   14    5    9    9
47   15    9    9    4
48   14    6    2    7
49   14    4    3    4
50   13    2    4    3

In [16]:
#creating a column to be the last column
np.random.seed(12)
df['ExamScore'] = np.random.randint(30,71, 50).reshape(50,1)
df

    AGE  CA1  CA2  CA3  ExamScore
1    15    7    2    3         41
2    15    4    4    1         57
3    13    7    2    5         36
4    14    6    3    7         32
5    14    1    6    9         33
6    14    3    4    5         33
7    14    4    2    8         42
8    13    1    3    7         52
9    14    3    1    5         35
10   14    7    1    1         43
11   13    9    7    2         55
12   15    9    5    1         64
13   14    5    2    6         41
14   13    6    4    5         40
15   14    6    6    1         30
16   13    7    7    4         70
17   15    3    5    4         42
18   15    7    8    5         43
19   15    2    5    6         48
20   15    4    6    1         55
21   15    3    7    5         65
22   13    8    7    3         66
23   13    4    3    7         65
24   13    5    6    1         63
25   14    1    6    5         60
26   15    1    4    8         62
27   15    7    9    7         48
28   13    2    5    7         52
29   15    6    3    5         46
30   14    1    9    5         50
31   14    5    4    8         36
32   13    4    7    2         39
33   15    5    4    9         60
34   13    9    7    9         62
35   13    5    5    2         57
36   15    5    2    5         55
37   15    4    3    9         54
38   14    1    2    5         45
39   15    7    6    5         55
40   15    3    1    2         63
41   14    3    6    3         34
42   14    1    2    5         62
43   14    8    8    2         34
44   15    7    2    4         31
45   14    1    2    9         67
46   14    5    9    9         41
47   15    9    9    4         34
48   14    6    2    7         41
49   14    4    3    4         62
50   13    2    4    3         36

In [17]:
#create a new column from an existing column
df['TotalScore'] = df['CA1'] + df['CA2'] + df['CA3'] + df['ExamScore']
df

    AGE  CA1  CA2  CA3  ExamScore  TotalScore
1    15    7    2    3         41          53
2    15    4    4    1         57          66
3    13    7    2    5         36          50
4    14    6    3    7         32          48
5    14    1    6    9         33          49
6    14    3    4    5         33          45
7    14    4    2    8         42          56
8    13    1    3    7         52          63
9    14    3    1    5         35          44
10   14    7    1    1         43          52
11   13    9    7    2         55          73
12   15    9    5    1         64          79
13   14    5    2    6         41          54
14   13    6    4    5         40          55
15   14    6    6    1         30          43
16   13    7    7    4         70          88
17   15    3    5    4         42          54
18   15    7    8    5         43          63
19   15    2    5    6         48          61
20   15    4    6    1         55          66
21   15    3    7    5         65          80
22   13    8    7    3         66          84
23   13    4    3    7         65          79
24   13    5    6    1         63          75
25   14    1    6    5         60          72
26   15    1    4    8         62          75
27   15    7    9    7         48          71
28   13    2    5    7         52          66
29   15    6    3    5         46          60
30   14    1    9    5         50          65
31   14    5    4    8         36          53
32   13    4    7    2         39          52
33   15    5    4    9         60          78
34   13    9    7    9         62          87
35   13    5    5    2         57          69
36   15    5    2    5         55          67
37   15    4    3    9         54          70
38   14    1    2    5         45          53
39   15    7    6    5         55          73
40   15    3    1    2         63          69
41   14    3    6    3         34          46
42   14    1    2    5         62          70
43   14    8    8    2         34          52
44   15    7    2    4         31          44
45   14    1    2    9         67          79
46   14    5    9    9         41          64
47   15    9    9    4         34          56
48   14    6    2    7         41          56
49   14    4    3    4         62          73
50   13    2    4    3         36          45

In [18]:
def grade(x):
    if x >= 70 and x <=100:
        return 'A'
    elif x >= 60 and x <=69.99:
        return 'B'
    elif x >= 50 and x <=59.99:
        return 'C'
    elif x >= 40 and x <= 49.99:
        return 'D'
    elif x >= 30 and x <= 39.99:
        return 'E'
    else:
        return 'F'
df['GRADE'] = df['TotalScore'].apply(grade)

In [19]:
df

    AGE  CA1  CA2  CA3  ExamScore  TotalScore GRADE
1    15    7    2    3         41          53     C
2    15    4    4    1         57          66     B
3    13    7    2    5         36          50     C
4    14    6    3    7         32          48     D
5    14    1    6    9         33          49     D
6    14    3    4    5         33          45     D
7    14    4    2    8         42          56     C
8    13    1    3    7         52          63     B
9    14    3    1    5         35          44     D
10   14    7    1    1         43          52     C
11   13    9    7    2         55          73     A
12   15    9    5    1         64          79     A
13   14    5    2    6         41          54     C
14   13    6    4    5         40          55     C
15   14    6    6    1         30          43     D
16   13    7    7    4         70          88     A
17   15    3    5    4         42          54     C
18   15    7    8    5         43          63     B
19   15    2    5    6         48          61     B
20   15    4    6    1         55          66     B
21   15    3    7    5         65          80     A
22   13    8    7    3         66          84     A
23   13    4    3    7         65          79     A
24   13    5    6    1         63          75     A
25   14    1    6    5         60          72     A
26   15    1    4    8         62          75     A
27   15    7    9    7         48          71     A
28   13    2    5    7         52          66     B
29   15    6    3    5         46          60     B
30   14    1    9    5         50          65     B
31   14    5    4    8         36          53     C
32   13    4    7    2         39          52     C
33   15    5    4    9         60          78     A
34   13    9    7    9         62          87     A
35   13    5    5    2         57          69     B
36   15    5    2    5         55          67     B
37   15    4    3    9         54          70     A
38   14    1    2    5         45          53     C
39   15    7    6    5         55          73     A
40   15    3    1    2         63          69     B
41   14    3    6    3         34          46     D
42   14    1    2    5         62          70     A
43   14    8    8    2         34          52     C
44   15    7    2    4         31          44     D
45   14    1    2    9         67          79     A
46   14    5    9    9         41          64     B
47   15    9    9    4         34          56     C
48   14    6    2    7         41          56     C
49   14    4    3    4         62          73     A
50   13    2    4    3         36          45     D

In [20]:
#how to drop a column
#axis1 = column, axis0 = row
#inplace = true(drop column permanently)  inplace = false(drop column temporarily)
df.drop('GRADE',axis=1,inplace=True)
df

    AGE  CA1  CA2  CA3  ExamScore  TotalScore
1    15    7    2    3         41          53
2    15    4    4    1         57          66
3    13    7    2    5         36          50
4    14    6    3    7         32          48
5    14    1    6    9         33          49
6    14    3    4    5         33          45
7    14    4    2    8         42          56
8    13    1    3    7         52          63
9    14    3    1    5         35          44
10   14    7    1    1         43          52
11   13    9    7    2         55          73
12   15    9    5    1         64          79
13   14    5    2    6         41          54
14   13    6    4    5         40          55
15   14    6    6    1         30          43
16   13    7    7    4         70          88
17   15    3    5    4         42          54
18   15    7    8    5         43          63
19   15    2    5    6         48          61
20   15    4    6    1         55          66
21   15    3    7    5         65          80
22   13    8    7    3         66          84
23   13    4    3    7         65          79
24   13    5    6    1         63          75
25   14    1    6    5         60          72
26   15    1    4    8         62          75
27   15    7    9    7         48          71
28   13    2    5    7         52          66
29   15    6    3    5         46          60
30   14    1    9    5         50          65
31   14    5    4    8         36          53
32   13    4    7    2         39          52
33   15    5    4    9         60          78
34   13    9    7    9         62          87
35   13    5    5    2         57          69
36   15    5    2    5         55          67
37   15    4    3    9         54          70
38   14    1    2    5         45          53
39   15    7    6    5         55          73
40   15    3    1    2         63          69
41   14    3    6    3         34          46
42   14    1    2    5         62          70
43   14    8    8    2         34          52
44   15    7    2    4         31          44
45   14    1    2    9         67          79
46   14    5    9    9         41          64
47   15    9    9    4         34          56
48   14    6    2    7         41          56
49   14    4    3    4         62          73
50   13    2    4    3         36          45

In [21]:
#how to drop a row
df.drop(50, axis =0, inplace= True)
df

    AGE  CA1  CA2  CA3  ExamScore  TotalScore
1    15    7    2    3         41          53
2    15    4    4    1         57          66
3    13    7    2    5         36          50
4    14    6    3    7         32          48
5    14    1    6    9         33          49
6    14    3    4    5         33          45
7    14    4    2    8         42          56
8    13    1    3    7         52          63
9    14    3    1    5         35          44
10   14    7    1    1         43          52
11   13    9    7    2         55          73
12   15    9    5    1         64          79
13   14    5    2    6         41          54
14   13    6    4    5         40          55
15   14    6    6    1         30          43
16   13    7    7    4         70          88
17   15    3    5    4         42          54
18   15    7    8    5         43          63
19   15    2    5    6         48          61
20   15    4    6    1         55          66
21   15    3    7    5         65          80
22   13    8    7    3         66          84
23   13    4    3    7         65          79
24   13    5    6    1         63          75
25   14    1    6    5         60          72
26   15    1    4    8         62          75
27   15    7    9    7         48          71
28   13    2    5    7         52          66
29   15    6    3    5         46          60
30   14    1    9    5         50          65
31   14    5    4    8         36          53
32   13    4    7    2         39          52
33   15    5    4    9         60          78
34   13    9    7    9         62          87
35   13    5    5    2         57          69
36   15    5    2    5         55          67
37   15    4    3    9         54          70
38   14    1    2    5         45          53
39   15    7    6    5         55          73
40   15    3    1    2         63          69
41   14    3    6    3         34          46
42   14    1    2    5         62          70
43   14    8    8    2         34          52
44   15    7    2    4         31          44
45   14    1    2    9         67          79
46   14    5    9    9         41          64
47   15    9    9    4         34          56
48   14    6    2    7         41          56
49   14    4    3    4         62          73